[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-authenticator = "*"
aleph-alpha-client = "*"
requests = "*"
openai = "==1.56.1"

[dev-packages]

[requires]
python_version = "3.10"
